DB_PASSWORD=#Your DB_PASSWORD here
DB_USER=#Your DB_USER here
DB_NAME=#Your DB_NAME here
DB_TEST_NAME=#Your DB_TEST_NAME here
DB_TEST_HOST_PORT=#Your DB_NAME here
REDIS_PORT=#Your REDIS_PORT here
APP_HOST=#Your APP_HOST here
SQLALCHEMY_TRACK_MODIFICATIONS=#Your SQLALCHEMY_TRACK_MODIFICATIONS here
JWT_SECRET_KEY=# Your SECRET_KEY here
JWT_ACCESS_TOKEN_EXPIRES=# Your JWT_ACCESS_TOKEN_EXPIRES here
DEBUG=# Your DEBUG here
SESSION_SECRET=# Your SESSION_SECRET here
YANDEX_CLIENT_ID=# Your YANDEX_CLIENT_ID here
YANDEX_CLIENT_SECRET=# Your YANDEX_CLIENT_SECRET here
GOOGLE_CLIENT_ID=# Your GOOGLE_CLIENT_ID here
GOOGLE_CLIENT_SECRET=# Your GOOGLE_CLIENT_SECRET here
JAEGER_UDP=# Your JAEGER_UDP here
JAEGER=# Your JAEGER here
JAEGER_HOST_NAME=# Your JAEGER_HOST_NAME here
REQUEST_LIMIT_PER_MINUTE=# Your REQUEST_LIMIT_PER_MINUTE here