Elastic_host=# Your ES_HOST here.
ES_HOST=# Your ES_HOST here.
ES_PORT=# Your ES_PORT here.
REDIS_HOST=# Your REDIS_HOST here.
REDIS_PORT=# Your REDIS_PORT here.
API_HOST=# Your API_HOST here.
API_PORT=# Your API_PORT here.